<ion-view>
  <ion-header-bar>
    <chat-header-bar chat-left="'消息'" chat-title="friend" chat-status="status"
                     chat-right-icon="'ion-ios-person-outline'" chat-left-callback="back"
                     chat-right-callback="detail"></chat-header-bar>
  </ion-header-bar>
  <ion-content>

  </ion-content>
  <ion-footer-bar>
    <input type="text" name="" id="" placeholder="" ng-model="content.text">
    <button class="button" ng-class="{'button-calm': content.text}">发送</button>
  </ion-footer-bar>
</ion-view>
