<!--
author:macro
discription:
-->
<ion-view>
  <ion-header-bar class=" apply-header bar bar-dark ">
    <h3 class="title"> Application</h3>
  </ion-header-bar>
  <ion-content class="scroll-content has-header stable-bg">

    <ion-list class="apply-list">
      <br>
      <a class="item item-icon-left  item-icon-right" href="#" >
        <i class="icon ion-aperture"></i>
        <span>动态</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>

      <br>
      <a class="item item-icon-left  item-icon-right" href="#">
        <i class="icon ion-qr-scanner"></i>
        <span>扫一扫</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a class="item item-icon-left  item-icon-right" href="#">
        <i class="icon ion-ios-people-outline"></i>
        <span>附近的人</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>

      <br>
      <a class="item item-icon-left  item-icon-right" href="#">
        <i class="icon ion-ios-location-outline"></i>
        <span>定位</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a class="item item-icon-left  item-icon-right" href="#">
        <i class="icon ion-ios-partlysunny-outline"></i>
        <span>天气</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>

      <br>
      <a class="item item-icon-left  item-icon-right" href="#">
        <i class="icon ion-ios-cart-outline"></i>
        <span>购物</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a class="item item-icon-left  item-icon-right" href="#">
        <i class="icon ion-ios-game-controller-b-outline"></i>
        <span>游戏</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      </ion-list>


</ion-content>

</ion-view>
