<!--
 author: saplf
 date: 2016/8/3
 description:
 -->

<ion-view>
  <ion-header-bar>
    <chat-header-bar chat-title="'消息'"
                     chat-src="'img/macro.png'"
                     chat-right-icon="'ion-ios-plus-empty'"></chat-header-bar>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-refresher
        pulling-text="松开刷新"
        on-refresh="doRefresh()"
        on-pulling="doPulling()"></ion-refresher>

      <ion-item ng-click="toChat()">
        <chat-list-item chat-avator="'img/macro.png'"
                        chat-text-right="'10:09'"
                        chat-spot-view="'除了使用之前介绍的特定指令实现手势事件的监听，也可以使用$ionicGesture服务 注册/解除手势事件监听：'"
                        chat-list-title="'Limo'"></chat-list-item>
        <ion-option-button>置顶</ion-option-button>
        <ion-option-button class="button-energized">标为未读</ion-option-button>
        <ion-option-button class="button-assertive">删除</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
