<!--
author:macro
discription:
-->

<ion-view>
  <ion-header-bar>
    <chat-header-bar chat-title="'联系人'" chat-src="'img/macro.png'" chat-right-icon="'ion-android-person-add'"></chat-header-bar>
  </ion-header-bar>

  <ion-content class="scroll-content has-header">
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
    <div class="contact-input item item-input icon-center " >
      <i class="icon ion-search"></i>
      <input type="text" ng-model="name" placeholder="搜索"/>
    </div>
    <div class="div0">
    <div class="div1">
      <div class="div2">
        <div><i class="icon ion-ios-person" style="color: #00ff88;font-size:30px"></i></div>
        <p>新朋友</p>
       </div>
      <div class="div2">
        <div><i class="icon ion-android-contacts" style="color: #007aff;font-size:30px"></i></div>
        <p>群聊</p>
      </div>
      <div class="div2">
        <div><i class="icon ion-social-github" style="color: #ffa522;font-size:30px"></i></div>
        <p>公众号</p>
      </div>
    </div>
    </div>

    <div class="contact-list " ng-click="show(1);"><i class="ion-android-arrow-dropright" ng-class="{active: !hide1}"></i><span>特别关心</span></div>
    <div class="list" ng-hide="hide1">
      <div class="item item-avatar-left"><img src="img/macro.png"><span>macro</span></div>
    </div>
    <div class="contact-list " ng-click="show(2);"><i class="ion-android-arrow-dropright" ng-class="{active: !hide2}"></i><span>我的好友</span></div>
    <div class="list" ng-hide="hide2">
      <div class="item">none </div>
      <div class="item">none </div>
      <div class="item">none </div>
      <div class="item">none </div>
    </div>

  </ion-content>
</ion-view>
