<!--
 author: saplf
 date: 2016/8/3
 description: tab frame content to display session, contact and apply
 -->

<ion-tabs>
  <ion-tab title="消息" icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble-outline" href="#/tabs/session">
    <ion-nav-view name="tab-session"></ion-nav-view>
  </ion-tab>
  <ion-tab title="联系人" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" href="#/tabs/contact">
    <ion-nav-view name="tab-contact"></ion-nav-view>
  </ion-tab>
  <ion-tab title="应用" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" href="#/tabs/apply">
    <ion-nav-view name="tab-apply"></ion-nav-view>
  </ion-tab>
</ion-tabs>
