<div class="chat-list-item">
  <!--
 author: saplf
 date: 2016/8/4
 description:
 -->
  <div class="left-margin"></div>
  <img ng-src="{{chatAvator}}" alt="">
  <div class="spotlight">
    <div class="spot-title">
      <div class="spot-title-left">{{chatListTitle}}</div>
      <div class="spot-title-right">{{chatTextRight}}</div>
    </div>
    <div class="spot-content">{{chatSpotView}}</div>
  </div>
  <div class="right-margin"></div>
  <div class="message-count" ng-show="chatLeft">{{chatLeft}}</div>
</div>
