<div class="chat-header-bar"><!--
author: saplf
date: 2016/8/4
description: a directive for header in the proejct
 -->
  <div class="left" ng-click="left()">
    <div class="img" ng-show="leftIsAvator">
      <img ng-src="{{chatSrc}}" alt="">
    </div>
    <div class="text" ng-show="leftIsText">
      <i class="ion {{chatBackArrow}}"></i>&nbsp;
      <span>{{chatLeft}}</span>
    </div>
  </div>
  <div class="center">
    <span>{{chatTitle}}</span>
    <span style="font-size: .6em;">{{chatStatus}}</span>
  </div>
  <div class="right" ng-click="right()">
    <div class="img" ng-show="rightIsIcon">
      <i class="ion {{chatRightIcon}}"></i>
    </div>
    <div class="text" ng-show="rightIsText">
      {{chatRight}}
    </div>
  </div>
</div>
