
.contact-input{
  margin:10px 10px 10px;
  height: 20px;
  border-radius: 20px;
  display: flex;

}
.div0{
  justify-content: space-around;
  border-bottom: 1px solid #cacaca;

}

.div1{
  margin-left:40px;
  margin-right: 40px;
  display:flex;
  justify-content: space-around;
}

.div1 .div2{
  width:80px;
  height: 60px;
  display:inline-flex;
  flex-flow: column nowrap;
}

.div1 .div2 i{
  height: 40px;
  align-content: center;

}
.div1 .div2 div{
  text-align: center;
}
.div1 .div2 p{
  font-family: inherit;
  height: 20px;
  text-align: center;
  font-size:0.5vm;
}


.contact-list{
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
}

/*先给i标签 设置动画过度tranistion,当active属性有效时执行动画*/
.contact-list{
  height: 50px;
}

.contact-list i{
  margin: 10px;
  color: #D9D9D9;font-size:30px;
  transition: transform .15s;
}
.contact-list i.active {
  transform: rotate(90deg);
}

.contact-list span{

}

